<ul id="header-links-dropdown" class="dropdown-menu js-header-links-dropdown">

    <li class="dropdown-menu-item dropdown-menu-underline">
        <a href="/dashboard">
            <div class="dropdown-menu-text dropdown-menu-text-no-icon">
                Dashboard
            </div>
        </a>
        <a href="/community">
            <div class="dropdown-menu-text dropdown-menu-text-no-icon">
                Community
            </div>
        </a>
    </li>

</ul>

