table {
  margin-top: 25px;
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  color: #111;
}

table,
th,
td {
  border: 1px solid #000;
}

th,
td {
  padding: 2px 5px;
}

tbody tr:nth-child(even) {
  background: #ccc;
}

tbody tr:nth-child(odd) {
  background: #fff;
}

td.user-phone-number {
  white-space: pre;
}