.header-bar {
    position: absolute;
    top: 0;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #333;
    background-color: #fff;
    /* putting an opacity on the whole bar is not desirable. instead choose the individual components you
       are interested in giving an alpha channel to! */
    /* opacity: 0.9; */
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.4);
    z-index: 600; /* MD Jan-2015 This is needed so drop-down menus appear in front of other elements */
}

.header-label,
.header-points {
  margin-right: 5px;
}

.header-points {
  color: #fa0;
}

.header-email {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 14px;
  color: #aaa;
}

#header-tier .tier-ball {
    width: 30px;
    height: 30px;
    float: right;
    margin: -3px 5px 0 5px;
}

.header-logo {
    float: left;
    min-width: 180px;
    padding-left: 20px;
    padding-right: 5%;
    padding-top: 4px;
    cursor: pointer;
    opacity: 0.7;
}

.header-icon {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    cursor: pointer;
    opacity: 0.7;
}

.header-icon img {
    width: 30px;
}

.header-logo:hover {
    opacity: 1.0;
}

#header-link-block {
    display: table;
    float: left;
    width: 30%;
}

.header-links,
.header-links a {
    display: inline-block;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
    color: #A7A9AB;
    background-color: #FFFFFF;
}

.header-links a {
    padding-top: 18px;
    padding-bottom: 12px;
    border-bottom: 3px transparent;
}

.header-links:hover,
.header-links:hover a {
    color: #46c1d2;
    cursor: pointer;
}

.header-links.selected a {
    color: #46c1d2;
    border-bottom: 3px solid #46c1d2;
}

.header-link-item {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    position: relative;
}

.header-right-item {
    float: right;
    height: 50px;
    margin: 0 10px;
}

#header-points, #header-tier {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 0;
    font-weight: 700;
    color: #46c1d2;
    opacity: 0.7;
}

#header-points:hover, #header-tier:hover { opacity: 1.0; }
#header-points a, #header-tier a { color: #46c1d2; }

#header-points-value, #header-tier-value {
    display: inline-block;
    padding-top: 4px;
}

#header-points-label {
    display: inline-block;
    padding-left: 5px;
    padding-top: 8px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #46c1d2;
}

#header-name {
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

#header-dropdown {
    padding-top: 7px;
    cursor: pointer;
    opacity: 0.7;
}

#header-dropdown:hover {
    opacity: 1.0;
}

#header-dropdown-menu {
    margin-right: 10px;
    opacity: 1;
}

#header-dropdown-icon-block {
    float: left;
    padding-top: 8px;
}

#header-dropdown-icon {
    padding-bottom: 5px;
    transform: scale(0.6);
}

#header-dropdown-icon:hover {
    opacity: 1;
}
