.relative-block {
    position: relative;
}

.menu-new {
    position: absolute;
    width: 36px;
    height: 15px;
    top: 7px;
    right: 0;
    line-height: 15px;
    font-size: 10px;
    color: #EEEEEE;
    text-align: center;
    background-color: #FF6D00;
    border-radius: 15px;
}

.menu-new.menu-new-dropdown {
    right: 62px;
}