
{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/header_links.css">
{% endblock %}

<div id="header_bar" class="header-bar">
    <div class="header-logo js-header-logo header-link-item dropdown-toggle" data-toggle="dropdown">
        <a href="/dashboard"> <img src="/images/{{ oem }}/menu_logo.png" alt="ohmconnect" Title="Ohmconnect Home"> </a>
    </div>

    {% include "%s/_header_links.html" % oem %}

    <div id="header-dropdown-block">
        <div id="header-dropdown" class="header-right-item dropdown-toggle" data-toggle="dropdown">
            <div id="header-name" class="display_short_name js-short-name">
                {{ current_user.short_name() }}
            </div>
            <div id="header-dropdown-icon-block">
                <img id="header-dropdown-icon" src="/images/dropdown_triangle.png"/>
            </div>
        </div>

        <ul id="header-dropdown-menu" class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-menu-item dropdown-menu-underline">
                <a href="/dashboard">
                    <span class="dropdown-menu-icon">
                        <img src="/images/{{ oem }}/navigation_bar_settings_active.png">
                    </span>
                    <span class="dropdown-menu-text">
                        Dashboard
                    </span>
                </a>
                <a href="/community">
                    <span class="dropdown-menu-icon">
                        🤗
                    </span>
                    <span class="dropdown-menu-text">
                        Community
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <div id="header-tier" class="header-right-item">
        <span class="header-label">Points:</span>
        <span class="header-points">{{ current_user.get_points_and_dollars().points }}</span>
        <span class="header-email">({{ current_user.email_address }})</span>
    </div>

</div>
