<script type="text/javascript" src="/js/webflow.js"></script>

{% if webflow_js %}
  <script type="text/javascript" src="{{ base_url }}/js/{{ webflow_js }}"></script>
{% endif %}

{% if webflow_inline_js %}
    <script type="text/javascript">{{ webflow_inline_js|safe}}</script>
{% endif %}
