<!DOCTYPE html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta property="fb:app_id" content="{{ facebook_app_id }}"/>
    <title>{{ oem_name }}</title>

    <link rel="icon" href="/images/{{ oem }}/favicon.png" type="image/png"/>

    {% assets "css_base_map" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% include "_webfonts.html" %}

    <script>
      // Global config.
      OhmConfig = {};
    </script>

    {% block head %}{% endblock %}

</head>

<body>

{% include "_header_bar.html" %}

{% block body %}{% endblock %}

<div class="js-popup"></div>

{# this is only a start moving these down here.
      in the real world:
      - reduce the number of JS in general
      - drop jQuery
      - load only necessary JS to start with (using async or deferred import)
      - even though production uses HTTP2 it still has to process all of it
#}
{% assets "js_base_map" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% include "_webflow_script.html" %}

{# no, bad dog! remove! header_bar should be its own component somewhere without inline JS #}
<script>
    function setLinkUsed(div_id) {
        $('.header-links').removeClass('selected');
        $(div_id).addClass('selected');
    }

    var current_screen = null;
    setLinkUsed(".js-header-points");

</script>

{% block footer %}{% endblock %}

</body>
</html>
