{% extends "base_map.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">
    <link rel="stylesheet" type="text/css" href="/css/ohm_base.css">
    <link rel="stylesheet" type="text/css" href="/css/community.css">
{% endblock %}

{% block body %}

    <div id="container" class="container">
      <h1>Most Recent OhmConnectors</h1>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Tier</th>
            <th>Points</th>
            <th>Phone Number(s)</th>
          </tr>
        </thead>
        <tbody>
          {% for user in most_recent_users %}
            <tr>
              <td>{{ user.display_name }}</td>
              <td>{{ user.tier }}</td>
              <td>{{ user.point_balance or 0 }}</td>
              <td class="user-phone-number">{{ user.phone_number }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <h1>Where in the World are OhmConnectors?</h1>
      <div id="map" style="height: 50vh"></div>
      <script>
        var AREA_PRESETS = {
          'USA': {lat: 39.881002, lng: -99.825682},
          'EUROPE': {lat: 45.925104, lng: 16.189944},
        };
        locations = [
          {% for user in most_recent_users %}
            Object.assign({}, AREA_PRESETS['{{ user.location }}'], { title: '{{ user.display_name }}' }),
          {% endfor %}
        ];
      </script>
      <script async defer src="/js/map.js"></script>
      <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
      </script>
      <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkO301dUlrXRUf1BiuTVBGKINgSZsUg_o&callback=initMap">
      </script>
    </div>

{% endblock %}
